doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
	script.
		var username = "#{username}";
	body
		#main-panel
		script(src="/js/main.min.js", type="text/javascript")